@import "tailwindcss";

:root {
  --background: #0C0F14;
  --foreground: #171717;
  --red-primary: #DC3535;
  --orange-accent: #D17842;
  --dark: #252A32;
  --gray-dark: #52555A;
  --gray-light: #AEAEAE;
  --white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
